.cardContainer {
  margin: auto;
  display: flex;
  height: 400px;
  width: 250px;
  background-color: black;
  border-radius: 15px;
  color: rgb(188, 183, 183);
  perspective: 1000px;
}
.linkElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.isFlipped {
  transform: rotateY(180deg);
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  border: 2px solid white;
  box-shadow: 0 0px 18px 0px rgba(255, 255, 255, 0.2);
}
.cardFace--front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardFace--front h2 {
  position: absolute;
  top: 5%;
  left: 11%;
  width: 75%;
  color: white;
  font-size: 36px;
  margin: 0;
}
.cardFace--front h3 {
  color: white;
  letter-spacing: 2px;
}

.cardFace--back {
  transform: rotateY(180deg);
}
.cardHeader {
  position: relative;
  padding: 30px 30px 40px;
  cursor: default;
}
.cardHeader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0 0 50% 0;
}
