.gameEndContainer {
  position: relative;
  display: flex;
  max-width: 100vw;
  height: 100%;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.gameEndContainer img {
  position: relative;
  width: 90%;
  max-width: 500px;
  height: 100%;
  display: flex;
}

.pedestal {
  background-image: url(../public/pedestal2.svg);
  width: 40%;
  max-width: 450px;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}
.linearGradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 1) 17%,
    rgba(0, 0, 0, 0.849) 30%,
    rgba(0, 0, 0, 0.328) 40%,
    rgba(105, 105, 105, 0) 48%,
    rgba(133, 133, 133, 0) 54%,
    rgba(163, 163, 163, 0) 61%,
    rgba(191, 191, 191, 0) 69%,
    rgba(224, 224, 224, 0) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameEndTextField {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.gameEndTextField h1 {
  font-size: 70px;
}
.WinnnerName {
  font-size: 80px;
}
.winnerAvatarContainer {
  order: 1;
}
.avatar2nd {
  font-size: 10px;
  order: 0;
  transform: translateY(60%);
}

.avatar3rd {
  font-size: 10px;
  order: 2;
  transform: translateY(100%);
}

.endAva {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  letter-spacing: 1px;
  font-size: 16px;
  text-shadow: 1px 1px 3px black;
}

.endAva > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.endAva > div > .avatar-image {
  max-width: 200px;
  width: 70%;
  flex-basis: auto;
  height: auto;
  z-index: 0;
}

.winnerAvatarContainer.endAva > div > .avatar-image {
  width: 90%;
}
.avatar2nd h3,
.avatar3rd h3 {
  text-align: center;
  z-index: 1;
}
.avatarsContainer {
  position: relative;
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}

.avatarsContainer > div .avatar-image svg {
  width: 100%;
}
.avatarsContainer > div {
  width: 100%;
}

.confettiContainer {
  position: fixed;
  width: 100%;
  height: 100%;

  top: 0;
  right: 0;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.311) 0%,
    rgba(252, 251, 251, 0.14) 0%,
    rgba(245, 245, 245, 0.094) 0%,
    rgba(247, 242, 242, 0.02) 17%,
    rgba(0, 0, 0, 0.026) 30%,
    rgba(0, 0, 0, 0.042) 40%,
    rgba(105, 105, 105, 0) 48%,
    rgba(133, 133, 133, 0) 54%,
    rgba(163, 163, 163, 0) 61%,
    rgba(191, 191, 191, 0) 69%,
    rgba(224, 224, 224, 0) 80%,
    rgba(255, 255, 255, 0) 100%
  );
}

.crowd {
  position: fixed;
  bottom: 15%;
  width: 100%;
  height: 55%;
  background-image: url(../public/musician.svg);
  background-size: contain;
  background-position: bottom;
  background-repeat: repeat-x;
  display: flex;
  scale: 2;
}

.backToLobby {
  color: black;
  background-color: rgba(255, 255, 255, 0.627);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);

  border-radius: 30px;
  border: 2px solid black;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
  padding: 0.5rem 1.75rem;
}
.backToLobby:hover {
  background-color: rgba(0, 0, 0, 0.613);
  color: white;
  transition: 0.3s;
}

@media (max-width: 640px) {
  .pedestal {
    width: 90%;
  }
  .endAva {
    font-size: 12px;
  }
  .crowd {
    scale: 2.5;
    bottom: 41%;
  }
}
