.gameRules {
  max-width: 800px;
  inset: 0;
  margin: auto;
  background-color: black;
  color: white;
  padding: 30px;
  border-radius: 15px;
  border: 2px solid white;
  -webkit-animation: entryAnimation 0.2s linear forwards;
  animation: entryAnimation 0.2s linear forwards;
}
.gameRulesText {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.gameRulesText ol li {
  list-style-type: upper-roman;
  padding-top: 15px;
}

.gameRulesBackdrop {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  inset: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.closeMenuButton {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 35px;
  height: 45px;
  font-size: 40px;
  border-radius: 50%;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 0;
}
.closeMenuButton:hover {
  color: #eb455f;
  transform: rotate(360deg);
  transition: 0.3s;
}

@-webkit-keyframes entryAnimation {
  from {
    transform: translateX(1500px);
    scale: 0.3;
  }
  to {
    transform: translateX(0);
    scale: 1;
  }
}

@keyframes entryAnimation {
  from {
    transform: translateX(1500px);
    scale: 0.3;
  }
  to {
    transform: translateX(0);
    scale: 1;
  }
}

@media (max-width: 640px) {
  .closeMenuButton {
    width: 30px;
  }
  .gameRulesText {
    height: 65vh;
  }
}

@media (max-width: 1024px) {
  .gameRules {
    max-width: 500px;
  }
}
