.kick-container {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgba(247, 49, 49, 0.269);
}

.kick-container .kick-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 60%;
  left: 12%;
  transform: translate(-50%, -50%) rotate(40deg);
  transition: 0.3s;
}
.scoreboardList > li > div:first-child:hover .kick-icon {
  scale: 1.2;
  transition: 0.3s;
  transform: rotate(10deg);
  transform-origin: 70px 80px;
}

.kickButton {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eb455f;
  border-radius: 30px;
  border-bottom: 10px solid #aa3446;
  color: white;
  z-index: 30;
}
.kickButton:active {
  scale: 0.95;
  border-bottom: 5px solid #aa3446;
}
.kickButtonBackground {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mobileKickButton {
  position: absolute;
  top: 25%;
  left: 5%;
  color: #aa3446;
  transform: translate(-50%, -50%);
}
