.backButton {
  position: relative;
  font-size: 30px;
  position: relative;
  background-color: black;
  color: gray;
}

.backButton:hover:after {
  content: "Back to Lobby";
  color: white;
  font-size: 23px;
  position: absolute;
  transform: translate(10%, 6%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.5s ease-in-out;
  -webkit-animation: slide-in 0.2s ease-in-out forwards;
  animation: slide-in 0.2s ease-in-out forwards;
  z-index: -1;
  opacity: 0;
}
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    left: -200px;
  }

  100% {
    opacity: 1;
    left: 22px;
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    left: -200px;
  }

  100% {
    opacity: 1;
    left: 22px;
  }
}

.navContainer {
  width: 100%;
  padding-right: 20px;
  top: 0;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
}
.navContainer img {
  width: 50px;

  opacity: 0.3;
  cursor: pointer;
}
.navContainer img:hover {
  opacity: 1;
}

.fuckitDannisadvice {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  margin-top: auto;
}

.accountMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.545);
  right: -270px;
}

.accountMenu:hover {
  background-color: rgb(0, 0, 0);
  right: 0;
  color: white;
  border-left: 2px solid rgba(255, 255, 255, 0.767);
}
.navIcon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.accountMenu > ul {
  margin-top: 0;
}

.accountMenu > ul li {
  position: relative;

  display: flex;
  gap: 20px;
  min-height: 70px;
  margin: auto;
  justify-content: center;
  transition: 0.2s;
}
.accountMenu ul li:hover {
  background: white;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

.navbarIcons {
  width: 70px;
  margin: auto;
  font-size: 32px;
  padding-left: 15px;
  display: flex;
}
.navbarProfilePic {
  margin: auto;
  display: flex;

  padding-left: 5px;
}

.copyright {
  position: relative;
  display: flex;
  color: grey;
  text-align: center;
  font-size: 12px;
  display: block;
  padding: 0 0.75rem;
  opacity: 0;
}
.navContainer:hover ~ .accountMenu,
.accountMenu:hover .copyright {
  opacity: 1;
}

.arrowDownIcon {
  display: flex;
  font-size: 24px;
  transition: 0.3s;
  transform: rotate(180deg);
}
.openArrow {
  transform: rotate(0deg);
  transition: 0.3s;
}
#sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#settingsToggle {
  display: flex;
  width: 100%;
  gap: 20px;
}

.navBarText {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  padding-right: 20px;
  width: 100%;
}
.profileMenu {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: bold;
}
.profileMenuIcon {
  display: flex;
  font-size: 28px;
}

.burgerMenue {
  position: absolute;
  top: 110%;
  left: 95%;
  background-image: url("/burgerMenue.svg");
  transform: rotateZ(180deg) translateX(100%);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transition: all 250ms;
  display: none;
}
.signIn.diseabled {
  cursor: not-allowed !important;
  color: grey;
}
.signIn.diseabled:hover {
  background-color: black !important;
  color: grey !important;
}

@media (max-width: 640px) {
  .navContainer {
    padding: 0.5rem 0 0;
  }
  .accountMenu {
    font-size: 12px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    gap: 1rem;
    padding-left: 20px;
    width: 100vw;
    z-index: 20;
    right: 0;
    top: -380px;
    border: 2px solid white;
    background-color: black;
  }

  .burgerMenue {
    display: block;
    opacity: 1;
    top: 105%;
    left: 99%;
    width: 35px;
  }
  .burgerMenue:hover {
    opacity: 0;
  }

  .burgerMenue ~ .accountMenu,
  .accountMenu:hover {
    background-color: rgb(0, 0, 0);
    right: 0;
    color: white;
    top: 0px;
  }

  .navbarIcons {
    font-size: 25px;
  }
  .accountMenu > ul li {
    gap: 10px;
    min-height: 50px;
  }

  .backButton::after {
    content: "Back to lobby";
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: gray;
    font-size: 14px;
    top: 0;
    left: 0;
    transform: translate(30%, 35%);
  }
  .backButton:hover::after {
    content: "";
  }
}
