.profileCardsContainer {
  display: grid;
  padding-top: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.whiteCardFaceMock {
  position: relative;
  width: 170px;
  height: max-content;
  aspect-ratio: 1/1.4;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}
.whiteCardFaceMock:hover {
  scale: 1.1;
  rotate: 3deg;
  transition: 0.3s;
}
.selected {
  scale: 1.1;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.whiteCardFaceMock h2 {
  margin: 0;
  display: flex;
  text-align: left;
  font-size: 24px;
  width: 70%;
  height: 100%;
  padding: 10px;
  color: black;
}

.whiteCardFace--frontMock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoCardMock {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.profileCcMock {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  object-fit: cover;
}
.profiletwitchMock {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 170px;
  aspect-ratio: 1/1.4;
  transform: translate(-50%, -50%);
  object-fit: fill;
}

@media (max-width: 640px) {
  .profileCardsContainer {
    display: grid;
    padding-top: 30px;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
    height: 400px;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
