.crown-background {
  position: absolute;
  top: -30%;
  left: 10%;
  z-index: 0;
}
.crown-background::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: 30%;
  top: 30%;
  border-radius: 50%;
  z-index: -5;
  background-color: red;
}

.crown {
  color: gold;
  height: 25px;
  width: auto;
  transform: rotate(20deg);
}
.sideMenu {
  --width: 350px;
  height: 100%;
  width: var(--width);
  max-width: 100vw;
  position: fixed;
  top: 0;
  left: calc(var(--width) * -1);
  background-color: rgba(255, 255, 255, 1);
  z-index: 20;
  color: black;
  flex-direction: column;
  display: flex;
  transition: all 0.3s ease-in-out;
  border-right: 2px solid black;
}

.sideMenu.active {
  left: 0;
}

.sideMenu > ul {
  list-style: none;
  padding: 0;
}
.fuckingClass {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 30px;
  margin: 0;
}
.sideMenu h1 {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideMenu .closeScorebutton {
  right: 1%;
  top: 0.25%;
  z-index: 5;
}
.sideMenu .closeScorebutton svg {
  width: 25px;
  height: 25px;
}

.player-points {
  font-weight: 900;
  font-size: 1.2rem;
}
.checkmark {
  height: 25px;
  width: auto;
  color: rgb(109, 161, 30);
  opacity: 0;
  transition: all 250ms;
  stroke-width: 0.3px;
}
.checkmark.active {
  opacity: 1;
}

.avatar {
  height: 50px;
  display: flex;
  width: 50px;
}
.sideMenu > .scoreboardList > li {
  padding-left: 15px;
  height: 70px;
  display: grid;
  grid-template-columns: 0.4fr 1.1fr 0.4fr;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
.profileContainer {
  position: relative;
  display: grid;
  grid-template-columns: 0.4fr 1.1fr;
  align-items: center;
}
.scoreboardTitles {
  align-items: center !important;
  display: flex !important;
  justify-content: space-between !important;
  margin: auto !important;
  padding-right: 30px;
  border-bottom: 2px solid rgb(87, 87, 87);
}
.player-name {
  padding-left: 10px;
}

.scoreStats {
  position: relative;
  justify-content: center;
  display: flex;
  margin-top: auto;
}

.disconnect-icon {
  height: 28px;
  width: auto;
  color: rgb(218, 146, 11);
  transition: all 250ms;
  stroke-width: 0.4px;
  display: flex;
  margin: auto;
}

.checkmark {
  height: 25px;
  width: auto;
  color: rgb(109, 161, 30);
  opacity: 0;
  transition: all 250ms;
  stroke-width: 0.3px;
  justify-content: center;
  margin: auto;
  display: flex;
}
.scoreButton {
  position: absolute;
  cursor: pointer;
  top: 40%;
  right: 0;
  transform: translateX(100%);
  background-color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 180px;
  display: flex;
  color: black;
  letter-spacing: 0;
  flex-direction: column;
  line-height: 0;
  border-radius: 0px 15px 15px 0px;
  justify-content: center;
  font-weight: bold;
  transition: 0.3s;
  padding-left: 5px;
}
.scoreButton::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  box-shadow: -5px 3px 0px 0px rgb(255, 255, 255);
  border-bottom-left-radius: 50%;
  z-index: 25;
}
.scoreButton::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  box-shadow: -3px -5px 0px 0px rgb(255, 255, 255);
  border-top-left-radius: 50%;
  z-index: 25;
}

.scoreButton p {
  -webkit-text-orientation: upright;
  text-orientation: upright;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 18px;
}

.sideMenu > button {
  position: absolute;
  top: 1%;
  right: 5%;
  width: 45px;
  height: 45px;
  font-size: 40px;
  border-radius: 50%;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 0;
}
.sideMenu button:hover svg {
  color: #eb455f;
  transform: rotate(360deg);
  transition: 0.3s;
}

@media (max-width: 640px) {
  .scoreButton {
    height: 120px !important;
    padding: 0;
    top: 20%;
  }
  .sideMenu .closeScorebutton {
    right: 2%;
    top: 1%;
    z-index: 5;
  }
  .sideMenu .closeScorebutton svg {
    width: 35px;
    height: 35px;
    color: #eb455f;
  }

  .scoreButton p {
    -webkit-text-orientation: upright;
    text-orientation: upright;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 12px;
  }
  .scoreButton::before {
    width: 10px;
    height: 10px;
    left: 2px;
    box-shadow: -5px 0px 0px 0px white;
  }
  .scoreButton::after {
    width: 10px;
    height: 10px;

    left: 2px;
    box-shadow: 0px 4px 0px 0px rgb(255 255 255);
  }
  .sideMenu {
    --width: 100%;
  }
}
